---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Chart.Name }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Chart.Name }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app: {{ .Chart.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          env:
            - name: ADMIN_TOKEN
              value: {{ .Values.ADMIN_TOKEN }}
            - name: DATABASE_URL
              value: {{ .Values.DATABASE_URL }}
            - name: GOOGLE_MAPS_API_KEY
              value: {{ .Values.GOOGLE_MAPS_API_KEY }}
            - name: NODE_TLS_REJECT_UNAUTHORIZED
              value: "{{ .Values.NODE_TLS_REJECT_UNAUTHORIZED }}"
            - name: NPM_CONFIG_PRODUCTION
              value: "{{ .Values.NPM_CONFIG_PRODUCTION }}"
            - name: PASSWORD
              value: "{{ .Values.PASSWORD }}"
            - name: SHARED_DASHBOARD
              value: "{{ .Values.SHARED_DASHBOARD }}"
            
          ports:
            - containerPort: 9000
              protocol: TCP

